<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search produit</title>
</head>
<style>
    table {
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid;
    }
</style>

<body>
    <h2 style="text-align:center"> produit Information </h2>
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>produit ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
            <tr>
                <td>{{produit.produitId}}</td>
                <td>{{produit.produitName}}</td>
                <td>{{produit.produitGender}}</td>
                <td>{{produit.produitEmail}}</td>
                <td>{{produit.produitDesignation}}</td>
                <td>
                    <a href="/edit/{{produit.pk}}">Update</a>
                </td>
                <td>
                    <a href="/remove/{{produit.pk}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    <div class="alert alert-danger" role="alert">
        Do you want to enter more produits?
    </div>

    <p>
        <a href="{% url 'insert-produit' %}"><-- Go To Home Page</a>
    </p>
</body>

</html>